
header {
  background-color: black;
  height: 75px;
}

nav {
  background-color: salmon;
  color: black;
  height: 25px;
}

body {
  background-color: white;
}

h1 h2 h3 {
  font-family: 'Righteous', sans-serif;
  background-color: black;
}

text {
  font-family: Cambria, Cochin, 'Georgia', Times, Times New Roman, serif;
}

table {
  font-family: Segoe UI, Tahoma, Geneva, 'Verdana', sans-serif;
  background-color: white;
}

a {
  color: black;
}

