
body {
  background-color: white;
  font-family: Cambria, Cochin, 'Georgia', Times, Times New Roman, serif;
}

h2 {
  font-family: 'Righteous', sans-serif;
  font-weight: bold;
  font-size:larger
}

#intro { 
  margin-top: 30px;
  font-size: 30px;
  text-align: center;
}

#indulge {
  text-align: center;
}

header {
  background-color: black;
  height: 150px;
}

header img {
  width: 120px;
  height: 120px;
  padding: 15px;
  border-radius: 20px;
}

nav {
  background-color: salmon;
  color: black;
  height: 45px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

button:hover {
  background-color: salmon;
}

button {
  color: white;
  background-color: black;
  height: 35px;
  width: 80px;
  margin-right: 40px;
  border-radius: 20px;
  transition: 450ms;
}

#hero-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 25px;
}

#our-stores {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 50px;
}

#fam-img {
  height: 20vw;
  width: auto; 
}

table {
  font-family: Segoe UI, Tahoma, Geneva, 'Verdana', sans-serif;
  background-color: white;
}

a {
  color: black;
}

